body, #slider, .wrap, .slide-content{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
}

.wrap{
    position: relative;
}
.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider1{
    background-image: url('images/01_Bora_Mountainside_HS_03.jpg');
}
.slider2{
    background-image: url('images/01_PictoUse.jpg');
}
.slider3{
    background-image: url('images/01_splash-water-footage.jpg');
}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    font-size: 5rem;
    color: #fff;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 46%;
    width: 0;
    height: 0;
    margin-top: 0px;
    border-style: solid;
}

#arrow-left{
    border-width: 15px 20px 15px 0;
    border-color: transparent blue transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right{
    border-width: 15px 0px 15px 20px;
    border-color: transparent transparent transparent blue;
    right: 0;
    margin-right: 50px;
}
